@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -12px;
  right: auto;
  top: 1.1rem;
  bottom: auto;
  border: 9px solid;
  border-color: white white transparent transparent;
  transform: rotate(-13deg);
}

.svg-violet-700 {
  filter: invert(12%) sepia(65%) saturate(7228%) hue-rotate(266deg) brightness(99%) contrast(90%);
}