@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7418EA;
  --secondary-color: #21FA90;
  --tertiary-color: #F3F4F6;
}

.bubble::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -12px;
  right: auto;
  top: 1.1rem;
  bottom: auto;
  border: 9px solid;
  border-color: white white transparent transparent;
  transform: rotate(-13deg);
}